<div class="content-wrap lesspadding">
  <div class="container clearfix">   
    <h1 class="converter-box-heading">{{compare_title}}</h1>
    <div class="row"> 

  <div class="col-sm-9">
   
      
        <p>Compare your favourite marijuana strains across thousands of legal dispensaries and retailers. It's a one-stop-shop to compare strains and dispensaries all in one place. This content is for informational and educational purposes only.</p>

        <p *ngIf="this.aval_message">Sorry, we can't find this strains availability in your city or province at this time. When it becomes available at a local dispensary or retailer, we'll show you the price comparison</p>
  

  </div>
  <div class="col-sm-3">
    <div class="track-price-change" style="float: right;">
            <h2 style="font-size: 25px;">Track prices</h2>
            <label class="toggle">
                    <input type="checkbox" id="track_price_alert" name="is_updates"  value="1" class="form-control" [ngModel]="check_price_alert" #uIsUpdates="ngModel" (click) = "trackBucttonClick(1);" >
                    <div class="slide-toggle"></div>
                    <div class="slide-toggle-content">on</div>
                  </label>
                 
                </div>
  </div>
    </div>  
    <!-- Sidebar
    ============================================= -->
    <div class="sidebar nobottommargin clearfix">
      <div class="sidebar-widgets-wrap">
        <div class="widget clearfix compare-sidebar">
          <div class="whitebg">
            <label>I'm located in</label>
            <div class="select-wrap">
              <span class="location-icon"></span>
              <select  id="converter-location" name = "location" class="sm-form-control" [(ngModel)]= "this.selectedLocation" [value]= "this.selectedLocation">
                <!--  <optgroup label="{{this.state_label}}">
                     <option [selected]="0==this.selectedLocation" *ngFor="let state of this.locations['user_state']" [value] = "0">{{state['name']}}</option>
                   </optgroup> -->
                	<optgroup label="My City">
                     <option [selected]="city['id']==this.selectedLocation" *ngFor="let city of this.locations['user_location']" [value] = "city['id']">{{city['name']}}</option> 
                    </optgroup>
                    
                    <!-- <optgroup label="{{this.state_label_other}}">
                      <option [selected]="state['state_id']==this.selectedLocation" *ngFor="let state of this.locations['state']" [value] = "state['state_id']">{{state['state']}}</option>
                    </optgroup> -->
                    <optgroup class="dispLable" label="Nearby Cities" *ngIf="nearByCities">
                      <option [selected]="city.id==this.selectedLocation" *ngFor="let city of this.locations['near_cities']" [value] = "city.id">{{city.name}}</option>
                    </optgroup>
                    <optgroup label="{{this.locationSes['state']}}" *ngIf="nearByOtherCities">
                    <option [selected]="0==this.selectedLocation" *ngFor="let state of this.locations['user_state']" [value] = "0">{{state['name']}}</option>
                      <option [selected]="city.id==this.selectedLocation" *ngFor="let city of this.locations['near_other_cities']" [value] = "city.id">{{city.name}}</option>
                    </optgroup>
                    <optgroup label="{{state.state}}" *ngFor="let state of this.locations['state']">
                      <option [selected]="state.state_id==this.selectedLocation" [value]="state.state_id" class="state_label">{{state.state}}</option>
                      <ng-container *ngFor="let city of this.locations['new_state_array']">
                      <option  [selected]="city.id==this.selectedLocation" *ngIf="city.state_id==state.state_id"  [value]="city.id">{{city.name}}</option>
              </ng-container>

               </optgroup>
                   <!-- <optgroup label="{{this.locationSes['country']}}">
                     <option [selected]="city.id==this.selectedLocation" *ngFor="let city of this.locations['rest_cities']" [value] = "city.id">{{city.name}}</option>
                   </optgroup> -->
              </select>
            </div>
          </div>

          <div class="bottommargin-sm sidebar-medical-cannabis" style="padding-top: 0px;">                  
              <ul class="extra-links">
                <li style="width: 100%"><a href="Javascript:void(0)" (click) = "redirect_data(this.locationSes['city'],this.locationSes['state'])">{{this.locationSes["city"]}}</a></li>
                
              
              
               <li *ngFor="let city of this.locations['near_cities']  | slice:0:3; let i=index" style="width: 100%"><a href="Javascript:void(0)" (click) = "redirect_data(city.city,city.state)">{{city.city}}</a></li>
               <li style="width: 100%"><a href="Javascript:void(0)" (click) = "redirect_data('',this.locationSes['state'])">{{this.locationSes["state"]}}</a></li>
              </ul>

            </div>



                 
          <div class="whitebg">
            <label>Strain</label>
            <div class="select-wrap">
              <span class="strain-icon"></span>
              <select id="converter-strn" name="strain" class="sm-form-control required" [(ngModel)]= "this.selectedStrain" [value]= "this.selectedStrain">
                <option [selected] = "st.strain_id == this.selectedStrain" *ngFor="let st of this.defaultStrain" [value] = "st.strain_id">{{st.name}}</option>
                <option [selected] = "st.strain_id == this.selectedStrain" *ngFor="let st of this.strains" [value] = "st.strain_id">{{st.name}}</option>
              </select>
            </div>
          </div>
          <div class="bottommargin-sm sidebar-medical-cannabis" style="padding-top: 0px;" *ngIf="this.strains">                  
            <ul class="extra-links">
               <li *ngFor="let st of this.strains | slice:1:6; let i=index" style="width: 100%"><a href="Javascript:void(0)" (click) = "redirect_data_strain(st.slug)">{{st.name}}</a></li>
            </ul>

            
        </div>
          <!-- <br/><br/> 
          <h4>Weight</h4>
          <select id="converter-mass" name="mass" class="sm-form-control required" [(ngModel)]= "this.selectedMass" [value]= "this.selectedMass">
            <option [selected] = "st.mass_id == this.selectedMass" *ngFor="let st of this.mass" [value] = "st.mass_id">{{st.name}}</option>
          </select> -->
        </div>
        <!-- <div class="widget clearfix">
        </div> -->
        <!-- <div class="widget clearfix">
          <h4>Effects</h4>
          <div>
            <input id="checkbox1-1" class="checkbox-style" name="checkbox-1" type="checkbox">
            <label for="checkbox1-1" class="checkbox-style-2-label checkbox-small">Air Conditioner</label>
          </div>
          <div>
            <input id="checkbox1-2" class="checkbox-style" name="checkbox-1" type="checkbox">
            <label for="checkbox1-2" class="checkbox-style-2-label checkbox-small">Bar</label>
          </div>
          <div>
            <input id="checkbox1-3" class="checkbox-style" name="checkbox-1" type="checkbox">
            <label for="checkbox1-3" class="checkbox-style-2-label checkbox-small">Swiming Pool</label>
          </div>
          <div>
            <input id="checkbox1-4" class="checkbox-style" name="checkbox-1" type="checkbox">
            <label for="checkbox1-4" class="checkbox-style-2-label checkbox-small">Gym</label>
          </div>
          <div>
            <input id="checkbox1-5" class="checkbox-style" name="checkbox-1" type="checkbox">
            <label for="checkbox1-5" class="checkbox-style-2-label checkbox-small">Restaurant</label>
          </div>
          <div>
            <input id="checkbox1-6" class="checkbox-style" name="checkbox-1" type="checkbox">
            <label for="checkbox1-6" class="checkbox-style-2-label checkbox-small">Cafe</label>
          </div>
          <div>
            <input id="checkbox1-7" class="checkbox-style" name="checkbox-1" type="checkbox">
            <label for="checkbox1-7" class="checkbox-style-2-label checkbox-small">WiFi</label>
          </div>
          <div>
            <input id="checkbox1-8" class="checkbox-style" name="checkbox-1" type="checkbox">
            <label for="checkbox1-8" class="checkbox-style-2-label checkbox-small">Parking</label>
          </div>
          <div>
            <input id="checkbox1-9" class="checkbox-style" name="checkbox-1" type="checkbox">
            <label for="checkbox1-9" class="checkbox-style-2-label checkbox-small">24HRS Check-in</label>
          </div>
        </div> -->
      </div>
    </div>
    <!-- Post Content

    ============================================= -->
    

    <div class="postcontent nobottommargin col_last clearfix">

            <!-- Posts
      ============================================= -->
      <div id="posts" class="small-thumbs">
        <div class="compare-listing" *ngFor="let disp of dispensaries">
          <div class="compare-list-img-wrap">
            <img class="image_fade" src="https://www.pow21.com/admin/storage/app/{{disp.logoUrl}}" alt="{{disp.name}}">
          </div>
          <div class="compare-list-title-wrap">
            <a routerLink = "/{{globals.location_global_url}}/dispensary/{{disp.slug}}">{{disp.name}}</a>
            <span class="address"><i class="icon-map-marker"></i><a href="#"> {{disp.city}}, {{disp.state}}, {{disp.country}}</a></span>
            <span class="review-address-wrap">
              <span class="review" *ngIf="disp.ratings">
                  <span class="rating-wrap" *ngIf="{'width': (disp.ratings*100)/5+'%'}; let variable">
                    <span class="rating" [ngStyle]="variable"></span>
                  </span>
                </span>
                <span class="revtext">{{disp.ratings}} | {{disp.reviews}} Reviews</span>
            </span>
          </div>
          <div class="compare-list-price-wrap">
              <span class="price"><sup class="symbol">$</sup>{{disp.price}}</span>
              <small><em>Price per 1 Gram*</em></small>
              <small><em><a routerLink="/{{globals.location_global_url}}/strain/{{strain_slug}}">{{strainName}}</a></em>&nbsp;<em style="text-transform: capitalize;"  *ngIf="disp.category != null">({{disp.category}})</em></small>
          </div>
          <!-- <div class="compare-list-button-wrap">
               <a href="javascript:void(0);"class="button">View Menu</a>
          </div> -->
        </div>
        <!-- <div class="entry clearfix compare-listing" *ngFor="let disp of dispensaries" >
          <div class="entry-i">
            <img class="image_fade" src="http://app.pow21.com/{{disp.logoUrl}}" alt="{{disp.name}}">
          </div>
          <div class="entry-c">
            <div class="entry-title">
              <h2><a routerLink="/{{globals.location_global_url}}/strain/{{disp.name.split(' ').join('_').toLowerCase()}}">{{disp.name}}</a></h2>
            </div>
            <ul class="entry-meta clearfix" >
              <li><i class="icon-star3 color"></i> <i class="icon-star3 color"></i> <i class="icon-star3 color"></i> <i class="icon-star3 color"></i> <i class="icon-star-half-full color"></i></li>
              <li><i class="icon-line-map"></i><a href="#"> {{disp.city}}, {{disp.state}}, {{disp.country}}</a></li>
              <li><i class="icon-time"></i><a href="#"> Open Now</a></li>
              <li><i class="icon-map-marker2"></i> <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" data-lightbox="iframe">View map</a></li>
              <li><i class="icon-comments"></i><a href="#"> 24 Reviews</a></li>
            </ul>
            <div class="entry-content-wrap">
              <div class="entry-content">
                <div class="clearfix" style="margin-bottom: 10px;">
                  <i class="i-rounded i-small i-bordered icon-wifi-full"  data-toggle="tooltip" data-placement="top" title="WiFi"></i>
                  <i class="i-rounded i-small i-bordered icon-glass"  data-toggle="tooltip" data-placement="top" title="Bar"></i>
                  <i class="i-rounded i-small i-bordered icon-line-shuffle"  data-toggle="tooltip" data-placement="top" title="Air Conditioner"></i>
                  <i class="i-rounded i-small i-bordered icon-food"  data-toggle="tooltip" data-placement="top" title="Restaurant"></i>
                  <i class="i-rounded i-small i-bordered noborder i-light icon-barbell"  data-toggle="tooltip" data-placement="top" title="Gym Unavailable"></i>
                  <i class="i-rounded i-small i-bordered icon-bell"  data-toggle="tooltip" data-placement="top" title="Room Service"></i>
                  <i class="i-rounded i-small i-bordered noborder i-light icon-coffee2"  data-toggle="tooltip" data-placement="top" title="Cafe Unavailable"></i>
                </div>
                <p class="nobottommargin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta sequi nemo asperiores. Debitis inventore veritatis quas omnis error.</p>
              </div>
              <div class="price">
                {{disp.price | currency}}
                <small><em>Price per 1 Gram*</em></small>
              </div>
            </div>
            <a href="#"class="button button-rounded topmargin-sm">View Menu</a>

          </div>
        </div> -->
        <button style="margin:0 auto;" (click)="loadMoreData()" *ngIf="this.loadmore" class="btn btn-primary btn-lg btn-block">Load More</button>           
      </div>           
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <form #converterAlert="ngForm" (ngSubmit)="onConverterAlertSubmit(converterAlert)">              
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Price Alert</h4>
                        <button type="button" class="btn btn-close" data-dismiss="modal" (click)="offpricealert()">Close</button>
                    </div>
                    <div class="modal-body">  
                        <p><b>Create a price alert for {{ strainName }} in {{this.selectedLocName}}</b> <br/> If the price for {{ strainName }} changes, we'll let you know. You can manage all your Price Alerts <a href="javascript:void(0)" (click) = "redirectToPage('login','myModal')">in your account.</a></p>      
                        <p *ngIf="this.checkUser">Name: {{this.converter_alert.name}}</p>
                        <p *ngIf="this.checkUser">Email: {{this.converter_alert.email}}</p>     

                        <div class="form-group" *ngIf="!this.checkUser">
                            <label for="converter-alert-name" class="sr-only">Name</label>
                            <input name="name" [ngModel]="this.converter_alert.name" required #uName="ngModel" class="form-control" placeholder="Enter your name">
                            <div *ngIf="uName.errors && converterAlert.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
                                  <div *ngIf="uName.errors.required"> 
                                   Please provide your name
                                 </div>       
                                
                            </div>
                        </div>
                        <div class="form-group" *ngIf="!this.checkUser">
                            <label for="converter-alert-email" class="sr-only">Email</label>
                            <input name="email" [ngModel]="this.converter_alert.email" required [pattern]="emailPattern" #uEmail="ngModel" class="form-control" placeholder="Enter your e-mail">
                            <div *ngIf="uEmail.errors && converterAlert.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
                                  <div *ngIf="uEmail.errors.required"> 
                                   Please provide your email address
                                 </div>        
                                 <div *ngIf="uEmail.errors.pattern"> 
                                   Please enter valid email address
                                 </div> 
                            </div>
                        </div>
                        <p *ngIf="this.checkUser"><a href="javascript:void()" (click) = "this.checkUser = !this.checkUser">Change</a></p>
                    </div>
                    <div class="modal-footer" *ngIf="!this.check_price_alert">
                        <button type="submit" class="btn btn-primary">Create Alert</button>
                        <button type="button" class="btn btn-link" data-dismiss="modal" (click)="offpricealert()">Cancel</button>                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>