<div class="content-wrap nopadding">
	<div class="container clearfix">
		<h1 class="converter-box-heading" style="padding: 50px 0px 20px;">Cannabis Converter</h1>
        <p>Try the Cannabis Converter to get the latest price of marijuana strains across thousands of local dispensaries and retailers. POW does not make representations regarding the use of cannabis and does not provide any of its own views on the use of cannabis, its benefits, or promotes its use. Use of the Cannabis Converter is for entertainment and informational purposes only.</p>
    </div>
    <div class="section nobottommargin converter-box">
        <div class="container-fullwidth clearfix nopadding nomargin">          
            <div class="tabs clearfix" id="tab-3">
                <!-- <div class="tabs-nav-wrap">
                    <div class="container">
                        <ul class="tab-nav tab-nav2 clearfix">
                            <li><a href="#tabs-9"><i class="refresh-icon"></i> Cannabis Converter</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="tab-container">
                    <div class="tab-content clearfix" id="tabs-9">
                        <div class="container">
                            <h2 class="converter-box-heading">Get real-time local market prices on your favourite marijuana strains, and where to buy the best deals nearby.</h2>
                            <mio-converter-box></mio-converter-box>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrap nopadding">
    <div class="container clearfix">
        <h1 class="converter-box-heading" style="padding: 50px 0px 20px;">Find a strain to match your mood or help with a medical condition</h1>
        <div class="row">
            <div class="col-lg-6">
                <h2 style="font-size: 20px;margin-bottom: 0px;">Recreational Cannabis</h2>
                <p>Explore and discover strains that match the desired mood. Find marijuana strains that have helped others get a good night sleep, stimulate the creative mind, reduce anxiety and more.</p>
                <div class="more-links">
                    <ul class="extra-links">
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-marijuana-moods/positive-happy">Happy</a></li>
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-marijuana-moods/positive-giggly">Giggly</a></li>
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-marijuana-moods/positive-aroused">Aroused</a></li>
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-marijuana-moods/positive-creative">Creative</a></li>
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-marijuana-moods/positive-relaxed">Relaxed</a></li>
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-marijuana-moods/positive-energetic">Energetic</a></li>
                  </ul>
                  <a routerLink="/{{this.globals.location_global_url}}/compare-marijuana-moods" class="explore-btn">More Rec Strains</a>
                </div>

            </div>
            <div class="col-lg-6">
                <h2 style="font-size: 20px; margin-bottom: 0px;">Medical Cannabis</h2>
                <p>Consult a doctor before using cannabis for medical purposes. POW's strain data is not meant to constitute professional medical advice. See POW's <a href="http://23.111.69.154/~miopro/blog/termsofuse/" target="_blank">Terms of Use</a>.</p>
                <div class="more-links">
                    <ul class="extra-links">
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-medical-marijuana/medical-stress">Stress</a></li>
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-medical-marijuana/medical-depression">Depression</a></li>
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-medical-marijuana/medical-insomnia">Insomnia</a></li>
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-medical-marijuana/medical-cramps">Cramps</a></li>
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-medical-marijuana/medical-headaches">Headaches</a></li>
                    <li><a routerLink="/{{this.globals.location_global_url}}/compare-medical-marijuana/medical-nausea">Nausea</a></li>
                  </ul>
                  <a routerLink="/{{this.globals.location_global_url}}/compare-medical-marijuana" class="explore-btn">More Medical Strains</a>
                </div>
            </div>
        </div>
    </div>
</div>