.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'indicative purposes only.';
  line-height: 1.5;    
  font-family: 'Lato', sans-serif;
  font-weight: initial;
  font-size: 12px;
  letter-spacing: 0;
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'indicative purposes only.';
}

.read-more-trigger {
  cursor: pointer;
  color: #0088cc;
  text-transform: initial;
  margin-bottom: 0;
}
#converter-result{margin-top: 0;}