<!-- Dashboard Main Nav End -->
<mio-profile-top-menu></mio-profile-top-menu>
<!-- Dashboard SubNav Start -->
<mio-business-sub-menu></mio-business-sub-menu>

<div
  class="modal fade"
  id="myModal_paid"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <form
    #claimListing="ngForm"
    (ngSubmit)="onClickSubmit(claimListing.value)"
    autocomplete="off"
  >
    <div class="modal-dialog">
      <div class="modal-body">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">
              Claim your listing now!
            </h4>
            <button type="button" class="btn btn-close" data-dismiss="modal">
              Close
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group whitebgs">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label for="paid-for-quality">First Name</label>
              <input
                type="text"
                name="fname"
                class="sm-form-control required customValidate"
                placeholder="Enter First Name"
                ngModel
              />
              <!-- <div *ngIf="this.checkPaid" [ngClass] = "'error'">
                                </div> -->
            </div>
            <div class="form-group whitebgs">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label for="paid-for-quality">Last Name</label>
              <input
                type="text"
                name="lname"
                class="sm-form-control required customValidate"
                placeholder="Enter Last Name"
                ngModel
              />
              <!-- <div *ngIf="this.checkPaid" [ngClass] = "'error'">
                                </div> -->
            </div>
            <div class="form-group whitebgs">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label for="paid-for-quality">Telephone Number</label>
              <input
                type="tel"
                name="telnum"
                id="telnum"
                class="sm-form-control required customValidate masked-phone"
                data-phonemask="(___)___-____"
                placeholder="Enter Telephone Number"
                ngModel
              />
              <!-- <div *ngIf="this.checkPaid" [ngClass] = "'error'">
                                </div> -->
            </div>
            <div class="form-group whitebgs">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label for="paid-for-quality">Email Address</label>
              <input
                type="email"
                name="email"
                class="sm-form-control required customValidate claimListingEmail"
                placeholder="Enter Email Address"
                ngModel
              />
              <!-- <div *ngIf="this.checkPaid" [ngClass] = "'error'">
                            </div>
                            <div class="form-group whitebgs">
                              <div class="wait-layer" *ngIf="waitLayer"></div>
                                <label for="paid-for-quality">Email Address</label>
                                  <input type = "email" name = "email" class="sm-form-control required customValidate" placeholder="Enter Email Address" ngModel >
							
									
                                <!-- <div *ngIf="this.checkPaid" [ngClass] = "'error'">
                                </div> -->
            </div>
            <div class="form-group whitebgs">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label for="paid-for-quality">Re Enter Email Address</label>
              <input
                type="email"
                name="reemail"
                class="sm-form-control required customValidate claimListingReEmail"
                placeholder="Re Enter Email Address"
                ngModel
              />
              <!-- <div *ngIf="this.checkPaid" [ngClass] = "'error'">
                                </div> -->
            </div>
            <div class="form-group whitebgs signupFields" style="display: none">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label for="paid-for-quality">Choose Password</label>
              <input
                type="password"
                id="register-form-password"
                name="password"
                value=""
                minlength="6"
                class="form-control customValidate claimListingPassword"
                required
                ngModel
              />
            </div>
            <div class="form-group whitebgs signupFields" style="display: none">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label for="paid-for-quality">Confirm Password</label>
              <input
                type="password"
                id="register-form-repassword"
                name="cpassword"
                value=""
                class="form-control customValidate claimListingCPassword"
                required
                validateEqual="password"
                ngModel
              />

              <div id="pcp_error" style="display: none" class="error">
                Password & Confirm password do not match.
              </div>
            </div>
            <div class="form-group whitebgs signupFields" style="display: none">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label class="toggle">
                <input
                  type="checkbox"
                  id="register-form-is_updates"
                  name="is_updates"
                  value="1"
                  class="form-control"
                  ngModel
                />
                <div class="slide-toggle"></div>
                <div class="slide-toggle-content">
                  Keep me updated on special offers and news.
                </div>
              </label>
            </div>
            <div class="form-group whitebgs signupFields" style="display: none">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label class="toggle">
                <input
                  type="checkbox"
                  id="register-form-is_terms"
                  name="is_terms"
                  value="1"
                  class="form-control customValidate"
                  required
                  ngModel
                />

                <div class="slide-toggle"></div>
                <div class="slide-toggle-content">
                  Yes, I agree to POW's
                  <a
                    href="https://www.pow21.com/blog/termsofuse/"
                    target="_blank"
                    >Terms</a
                  >
                  and
                  <a href="https://www.pow21.com/blog/privacy/" target="_blank"
                    >Privacy.</a
                  >
                </div>
              </label>
            </div>
            <div class="form-group whitebgs signupFields" style="display: none">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label class="toggle">
                <input
                  type="checkbox"
                  id="register-form-is_business_account"
                  name="is_business_account"
                  value="1"
                  class="form-control"
                  disabled
                  checked
                />
                <div class="slide-toggle"></div>
                <div class="slide-toggle-content">Business Account</div>
              </label>
            </div>
            <div class="form-group whitebgs">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label for="paid-for-quality">Comments</label>
              <!-- <input type = "text" name = "notes" class="sm-form-control required" placeholder="Enter your notes to verify ownership" ngModel> -->
              <textarea
                name="notes"
                class="sm-form-control required customValidate"
                placeholder="Enter your comments to verify ownership"
              ></textarea>
            </div>
            <div class="form-group whitebgs">
              <div class="wait-layer" *ngIf="waitLayer"></div>
              <label for="paid-for-quality">Document</label>
              <input
                type="file"
                (change)="this.onClaimFilechange($event)"
                name="file"
                class="sm-form-control required fileInput"
                ngModel
                multiple style="display:block !important;"
              />
              <small id="fileHelp" class="form-text text-muted">
                Include any non-private business documents that shows your
                company name and address. This will help speed up the approval
                process. Each file size should not be more than 5 MB</small
              >
              <small class="form-text text-muted"
                >You can add multiple photos at one time by pressing 'cntrl' and
                selecting the photos.</small
              >
            </div>

            <!-- H o n e y p o t -->
            <label class="ohnohoney" for="claim_captcha_name"></label>
            <input
              class="ohnohoney honeyInput"
              autocomplete="off"
              type="text"
              id="claim_captcha_name"
              name="claim_captcha_name"
              placeholder="Your name here"
            />
            <label class="ohnohoney" for="claim_captcha_email"></label>
            <input
              class="ohnohoney honeyInput"
              autocomplete="off"
              type="email"
              id="claim_captcha_email"
              name="claim_captcha_email"
              placeholder="Your e-mail here"
            />
          </div>

          <!-- <div class="modal-body" *ngIf="!this.globals.user_data">
				To claim the store <span *ngIf="!this.globals.user_data"><a class="claimModelLink" href="/login" >Login</a></span> into account or <span *ngIf="!this.globals.user_data"><a class="claimModelLink"  href="/register">Signup</a></span>.
				
							
							
			</div> -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-link" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="modal-body" *ngIf="!this.globals.user_data">
            To claim the store
            <span *ngIf="!this.globals.user_data"
              ><a class="claimModelLink" href="/login">Login</a></span
            >
            into account or
            <span *ngIf="!this.globals.user_data"
              ><a class="claimModelLink" href="/register">Signup</a></span
            >.
          </div> -->
    <!-- <div class="modal-footer" *ngIf="this.globals.user_data">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-link" data-dismiss="modal">
              Cancel
            </button>
          </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
  </form>
  <!-- <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(claimListing.value)" >
	   
	   <br/>
	   <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
	   <br/>
	   <input type = "submit" value = "submit">
	</form> -->
</div>

<div class="content-wrap grey-bg pt-5">
  <!-- Manage price Section start -->
  <div class="container clearfix">
    <h2 *ngIf="dispDetails.disp_id; else elseBlock">Edit Your store</h2>
    <ng-template #elseBlock><h2>Add Your store</h2></ng-template>

    <div class="row">
      <div class="col-md-8">
        <div class="white-box">
          <div class="white-box-title" *ngIf="dispDetails.disp_id;">
            <div *ngIf="dispDetails.claim_status == 'Unverified'; else elseStatusBlock">
              <h3>{{ dispDetails.name }}</h3> <br>
              <p >
              Your store profile and listing is unverified. To verify you are the correct owner or operator, contact the POW Team <a 
                      href="javascript:void(0)"
                      data-toggle="modal"
                      data-target="#myModal_paid"
                      >here
                     </a
                  ></p>
                  
              
              <!-- <div
                class="btn-group-sm"
                style="
                  display: inline;
                  margin-left: 10px;
                  vertical-align: middle;
                "
              >
                 <button class="btn btn-primary save-btn" style="width: 10%;" (click)="editStore()">Add</button> 
              </div> -->
              <!-- <i class="icon-angle-right"></i> -->
            </div>
            <ng-template #elseStatusBlock>
            <div >
              <h3>{{ dispDetails.name }}</h3> <br>
                  <p><a 
                    href="javascript:void(0)" 
                    >{{dispDetails.claim_status}}
                   </a
                ></p>
              
              <!-- <div
                class="btn-group-sm"
                style="
                  display: inline;
                  margin-left: 10px;
                  vertical-align: middle;
                "
              >
                <button class="btn btn-primary save-btn" style="width: 10%;" (click)="editStore()">Add</button> 
              </div> -->
              <!-- <i class="icon-angle-right"></i> -->
            </div>
          </ng-template>

          </div>
          <div class="white-box-content">
            <form
              id="submitStore"
              #submitStore="ngForm"
              (ngSubmit)="onSubmitStore(submitStore.value)"
            >
              <div class="modal-content">
                <input
                  type="hidden"
                  id="id"
                  name="id"
                  class="sm-form-control"
                  placeholder=""
                  value="{{ dispDetails.disp_id }}"
                  ngModel
                />
                <div class="modal-body formcontant">
                  <div class="form-group whitebgs row">
                    <!-- <div class="statustop"></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality statuslabel ">Status </label>
                    </div>
                    <div class="col-md-10 p-0 pt-1">
                      <input
                        id="status_active"
                        class="radio-style"
                        name="status"
                        type="radio"
                        value="1"
                        required [checked]="dispDetails.status == 1"
                      />
                      <label
                        for="status_active"
                        class="radio-style-2-label p-0"
                        >Active</label
                      >
                      <input
                      id="status_inactive"
                      class="radio-style"
                      name="status"
                      type="radio"
                      value="0"
                      required [checked]="dispDetails.status == 0"
                    />
                    <label
                      for="status_inactive"
                      class="radio-style-2-label p-0"
                      >Delete</label
                    >
                      <input
                        id="status_suspend"
                        class="radio-style"
                        name="status"
                        type="radio"
                        value="3"
                        required [checked]="dispDetails.status == 3"
                      />
                      <label
                        for="status_suspend"
                        class="radio-style-2-label p-0"
                        >Suspend</label
                      >
                    </div>
                  </div>

                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality">Store/Dispensary Name</label>
                    </div>
                    <div class="col-md-10">
                      <input
                        type="text"
                        id="name"
                        name="name"
                        class="sm-form-control required"
                        value="{{ dispDetails.name }}"
                        placeholder=""
                        ngModel
                      />
                    </div>
                  </div>
                  <!-- Add new form fields here -->
                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality" class="">Address</label>
                    </div>
                    <div class="col-md-10">
                      <input
                        type="text"
                        id="address"
                        name="address"
                        class="sm-form-control address required w-100"
                        value="{{ dispDetails.address }}"
                        placeholder=""
                        ngModel
                      />
                    </div>
                  </div>
                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality">Address 2</label>
                    </div>
                    <div class="col-md-10">
                      <input
                        type="text"
                        id="address2"
                        name="address2"
                        class="sm-form-control address2 required"
                        value="{{ dispDetails.address2 }}"
                        placeholder=""
                        ngModel
                      />
                    </div>
                  </div>
                  <div class="form-group whitebgs row">
										<!-- <div class=""></div> -->
                    <div class="col-md-2">
										<label for="paid-for-quality" 
										  >Country</label
										>
                    </div>
                    <div class="col-md-10">
										<select
										  id="country"
										  name="country"
										  class="sm-form-control country required customInput"
										  placeholder=""
										  ngModel
										>
										<option value="">Select Country</option>
										<option value="United States">United States Of America</option>
										<option value="Canada">Canada</option>
										<option value="Australia">Australia</option>
										</select>
                    </div>

									  </div>

									  <div class="form-group whitebgs row">
										<!-- <div class=""></div> -->
                    <div class="col-md-2">
										<label for="paid-for-quality" >{{(dispDetails.country == 'Canada' ? 'Province' : 'State')}}</label>
                    </div>
                    <div class="col-md-10">
										<select
										  id="state"
										  name="state"
										  class="sm-form-control state required customInput"
										  placeholder=""
										  ngModel
										>
										<option value="">Select State</option>
										
										</select>
                    </div>
									  </div>


									  <div class="form-group whitebgs row">
										<!-- <div class=""></div> -->
                    <div class="col-md-2">
										<label for="paid-for-quality">City</label>
                    </div>
                    <div class="col-md-10">
										<select
										  id="city"
										  name="city"
										  class="sm-form-control city selectCity required customInput"
										  placeholder=""
										  ngModel
										>
										<option value="">Select City</option>
										
										</select>
                    </div>
									  </div>
									 
                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality">{{(dispDetails.country == 'Canada' ? 'Postal Code' : 'Zip Code')}}</label>
                    </div>
                    <div class="col-md-10">
                      <input
                        type="text"
                        id="zip_code"
                        name="zip_code"
                        class="sm-form-control zip_code required"
                        value="{{ dispDetails.zip_code }}"
                        placeholder=""
                        ngModel
                      />
                    </div>
                  </div>

                 
                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality">Tags</label>
                    </div>
                    <div class="col-md-10">
                      <input
                        type="text"
                        id="license_type"
                        name="license_type"
                        class="sm-form-control license_type required"
                        value="{{ dispDetails.license_type }}"
                        placeholder=""
                        ngModel
                      />
                    </div>
                  </div>
                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality ">Website</label>
                    </div>
                    <div class="col-md-10">
                      <input
                        type="text"
                        id="website"
                        name="website"
                        class="sm-form-control website required"
                        value="{{ dispDetails.website }}"
                        placeholder=""
                        ngModel
                      />
                      <small
                        ><a href="www.domain.com/" class="text-dark"
                          >www.domain.com</a
                        ></small
                      >
                    </div>
                  </div>
                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality">Email</label>
                    </div>
                    <div class="col-md-10">
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="sm-form-control email required"
                        value="{{ dispDetails.email }}"
                        placeholder=""
                        ngModel
                      />
                    </div>
                  </div>
                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality">Email 2</label>
                    </div>
                    <div class="col-md-10">
                      <input
                        type="email"
                        id="email2"
                        name="email2"
                        class="sm-form-control email2 required"
                        value="{{ dispDetails.email2 }}"
                        placeholder=""
                        ngModel
                      />
                    </div>
                  </div>
                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality">Phone</label>
                    </div>
                    <div class="col-md-10">
                      <input
                        type="Phone"
                        id="phone"
                        name="phone"
                        class="sm-form-control phone required"
                        value="{{ dispDetails.phone }}"
                        placeholder=""
                        ngModel
                      />
                    </div>
                  </div>
                  <div class="form-group whitebgs row mb-0">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality ">Logo</label>
                    </div>
                    <div class="col-md-10">
                      <label for="file-upload" class="custom-file-upload"
                        ><i class="fa fa-cloud" aria-hidden="true"></i> Custom
                        files Upload</label
                      >
                    </div>
                    <div class="col-md-2">
                      <input
                        id="file-upload"
                        type="file"
                        (change)="this.onFilechange($event)"
                      />
                    </div>

                    <div class="logo-container d-flex col-md-10">
                      <div>
                        <div
                          class="image-area mt-4"
                          *ngIf="dispDetails.logoUrl"
                        >
                          <img
                            src="{{ dispDetails.logoUrl }}"
                            width="100"
                            height="100"
                            alt=""
                          /><a
                            class="remove-image"
                            href="javascript:void(0)"
                            style="display: inline"
                          >
                            <span>x</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- <input  class="form-control" type="file" id="formFile"> -->
                  </div>
                  <div class="form-group whitebgs row">
                    <div class="wait-layer" *ngIf="waitLayer"></div>
                    <h4 for="paid-for-quality" class="w-100 mb-0 text-center">
                      Store schedule
                    </h4>
                  </div>
                  <div class="form-group whitebgs labelalignmentt row mt-0">
                    <div class="wait-layer" *ngIf="waitLayer"></div>
                    <label for="paid-for-quality"></label>
                    <div
                      class="col-md-2 d-flex align-items-center justify-content-start"
                    >
                      <span class="dayalign">Monday</span>
                    </div>
                    <div
                      class="col-md-3 d-flex align-items-center justify-content-start p-0"
                    >
                      <input
                        type="time"
                        id="monday_start"
                        name="monday_start"
                        class="sm-form-control monday_start required"
                        value="{{
                          getTimeStringValue('monday', 'start') | date: 'HH:mm'
                        }}"
                        placeholder=""
                        [disabled]="
                          getTimeStringValue('monday', '', 1) == 'yes'
                        "
                      />
                    </div>
                    <span class="col-md-1 text-center p-0">To</span>
                    <input
                      type="time"
                      name="monday_end"
                      id="monday_end"
                      class="sm-form-control monday_end required dau col-md-3"
                      value="{{
                        getTimeStringValue('monday', 'end') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="getTimeStringValue('monday', '', 1) == 'yes'"
                    />
                    <label class="toggle col-md-2 m-0 ps-3 pt-2">
                      <div class="togglebox">
                        <input
                          type="checkbox"
                          id="monday_close"
                          name="monday_close"
                          value="1"
                          class="form-control"
                          (change)="onClickClose($event, 'monday')"
                          [checked]="
                            getTimeStringValue('monday', '', 1) == 'yes'
                          "
                        />
                        <div class="slide-toggle"></div>
                        <div class="slide-toggle-content">Close</div>
                      </div>
                    </label>
                  </div>
                  <div class="form-group whitebgs labelalignmentt row mt-0">
                    <div class="wait-layer" *ngIf="waitLayer"></div>
                    <label for="paid-for-quality"></label>
                    <span class="col-md-2">Tuesday</span>
                    <input
                      type="time"
                      id="tuesday_start"
                      name="tuesday_start"
                      class="sm-form-control tuesday_start required col-md-3"
                      value="{{
                        getTimeStringValue('tuesday', 'start') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="getTimeStringValue('tuesday', '', 1) == 'yes'"
                    />
                    <span class="col-md-1 p-0 text-center">To</span>
                    <input
                      type="time"
                      name="tuesday_end"
                      id="tuesday_end"
                      class="sm-form-control tuesday_end required col-md-3"
                      value="{{
                        getTimeStringValue('tuesday', 'end') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="getTimeStringValue('tuesday', '', 1) == 'yes'"
                    />
                    <label class="toggle col-md-2 m-0 ps-3 pt-2">
                      <input
                        type="checkbox"
                        id="tuesday_close"
                        name="tuesday_close"
                        value="1"
                        class="form-control"
                        (change)="onClickClose($event, 'tuesday')"
                        [checked]="
                          getTimeStringValue('tuesday', '', 1) == 'yes'
                        "
                      />
                      <div class="slide-toggle"></div>
                      <div class="slide-toggle-content">Close</div>
                    </label>
                  </div>
                  <div class="form-group whitebgs labelalignmentt row mt-0">
                    <div class="wait-layer" *ngIf="waitLayer"></div>
                    <label for="paid-for-quality"></label>
                    <span class="col-md-2">Wednesday</span>
                    <input
                      type="time"
                      id="wednesday_start"
                      name="wednesday_start"
                      class="sm-form-control wednesday_start col-md-3 required"
                      value="{{
                        getTimeStringValue('wednesday', 'start') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="
                        getTimeStringValue('wednesday', '', 1) == 'yes'
                      "
                    />
                    <span class="col-md-1 text-center p-0">To</span>
                    <input
                      type="time"
                      id="wednesday_end"
                      name="wednesday_end"
                      class="sm-form-control wednesday_end col-md-3 required"
                      value="{{
                        getTimeStringValue('wednesday', 'end') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="
                        getTimeStringValue('wednesday', '', 1) == 'yes'
                      "
                    />
                    <label class="toggle col-md-2 m-0 ps-3 pt-2">
                      <input
                        type="checkbox"
                        id="wednesday_close"
                        name="wednesday_close"
                        value="1"
                        class="form-control"
                        (change)="onClickClose($event, 'wednesday')"
                        [checked]="
                          getTimeStringValue('wednesday', '', 1) == 'yes'
                        "
                      />
                      <div class="slide-toggle"></div>
                      <div class="slide-toggle-content">Close</div>
                    </label>
                  </div>
                  <div class="form-group whitebgs labelalignmentt row mt-0">
                    <div class="wait-layer" *ngIf="waitLayer"></div>
                    <label for="paid-for-quality"></label>
                    <span class="col-md-2">Thursday</span>
                    <input
                      type="time"
                      id="thursday_start"
                      name="thursday_start"
                      class="sm-form-control thursday_start col-md-3 required"
                      value="{{
                        getTimeStringValue('thursday', 'start') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="
                        getTimeStringValue('thursday', '', 1) == 'yes'
                      "
                    />
                    <span class="col-md-1 text-center p-0">To</span>
                    <input
                      type="time"
                      id="thursday_end"
                      name="thursday_end"
                      class="sm-form-control thursday_end col-md-3 required"
                      value="{{
                        getTimeStringValue('thursday', 'end') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="
                        getTimeStringValue('thursday', '', 1) == 'yes'
                      "
                    />
                    <label class="toggle col-md-2 m-0 ps-3 pt-2">
                      <input
                        type="checkbox"
                        id="thursday_close"
                        name="thursday_close"
                        value="1"
                        class="form-control"
                        (change)="onClickClose($event, 'thursday')"
                        [checked]="
                          getTimeStringValue('thursday', '', 1) == 'yes'
                        "
                      />
                      <div class="slide-toggle"></div>
                      <div class="slide-toggle-content">Close</div>
                    </label>
                  </div>
                  <div class="form-group whitebgs labelalignmentt row mt-0">
                    <div class="wait-layer" *ngIf="waitLayer"></div>
                    <label for="paid-for-quality"></label>
                    <span class="col-md-2">Friday</span>
                    <input
                      type="time"
                      id="friday_start"
                      name="friday_start"
                      class="sm-form-control friday_start required col-md-3"
                      value="{{
                        getTimeStringValue('friday', 'start') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="getTimeStringValue('friday', '', 1) == 'yes'"
                    />
                    <span class="col-md-1 text-center p-0">To</span>
                    <input
                      type="time"
                      id="friday_end"
                      name="friday_end"
                      class="sm-form-control friday_end required col-md-3"
                      value="{{
                        getTimeStringValue('friday', 'end') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="getTimeStringValue('friday', '', 1) == 'yes'"
                    />
                    <label class="toggle col-md-2 m-0 ps-3 pt-2">
                      <input
                        type="checkbox"
                        id="friday_close"
                        name="friday_close"
                        value="1"
                        class="form-control"
                        (change)="onClickClose($event, 'friday')"
                        [checked]="getTimeStringValue('friday', '', 1) == 'yes'"
                      />
                      <div class="slide-toggle"></div>
                      <div class="slide-toggle-content">Close</div>
                    </label>
                  </div>
                  <div class="form-group whitebgs labelalignmentt row mt-0">
                    <div class="wait-layer" *ngIf="waitLayer"></div>
                    <label for="paid-for-quality"></label>
                    <span class="col-md-2">Saturday</span>
                    <input
                      type="time"
                      id="saturday_start"
                      name="saturday_start"
                      class="sm-form-control saturday_start required col-md-3"
                      value="{{
                        getTimeStringValue('saturday', 'start') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="
                        getTimeStringValue('saturday', '', 1) == 'yes'
                      "
                    />
                    <span class="col-md-1 text-center p-0">To</span>
                    <input
                      type="time"
                      id="saturday_end"
                      name="saturday_end"
                      class="sm-form-control saturday_end required col-md-3"
                      value="{{
                        getTimeStringValue('saturday', 'end') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="
                        getTimeStringValue('saturday', '', 1) == 'yes'
                      "
                    />
                    <label class="toggle col-md-2 m-0 ps-3 pt-2">
                      <input
                        type="checkbox"
                        id="saturday_close"
                        name="saturday_close"
                        value="1"
                        class="form-control"
                        (change)="onClickClose($event, 'saturday')"
                        [checked]="
                          getTimeStringValue('saturday', '', 1) == 'yes'
                        "
                      />
                      <div class="slide-toggle"></div>
                      <div class="slide-toggle-content">Close</div>
                    </label>
                  </div>
                  <div class="form-group whitebgs labelalignmentt row mt-0">
                    <div class="wait-layer" *ngIf="waitLayer"></div>
                    <label for="paid-for-quality"></label>
                    <span class="col-md-2">Sunday</span>
                    <input
                      type="time"
                      id="sunday_start"
                      name="sunday_start"
                      class="sm-form-control sunday_start col-md-3 required"
                      value="{{
                        getTimeStringValue('sunday', 'start') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="getTimeStringValue('sunday', '', 1) == 'yes'"
                    />
                    <span class="col-md-1 text-center p-0">To</span>
                    <input
                      type="time"
                      id="sunday_end"
                      name="sunday_end"
                      class="sm-form-control sunday_end required col-md-3"
                      value="{{
                        getTimeStringValue('sunday', 'end') | date: 'HH:mm'
                      }}"
                      placeholder=""
                      [disabled]="getTimeStringValue('sunday', '', 1) == 'yes'"
                    />
                    <label class="toggle col-md-2 m-0 ps-3 pt-2">
                      <input
                        type="checkbox"
                        id="sunday_close"
                        name="sunday_close"
                        value="1"
                        class="form-control"
                        (change)="onClickClose($event, 'sunday')"
                        [checked]="getTimeStringValue('sunday', '', 1) == 'yes'"
                      />
                      <div class="slide-toggle"></div>
                      <div class="slide-toggle-content">Close</div>
                    </label>
                  </div>
                  <div class="form-group whitebgs row">
                    <div class="col-md-2">
                      <label for="paid-for-quality">Assign User</label>
                    </div>
                    <div class="col-md-10">
                      <select
                        id="assign_user"
                        name="assign_user"
                        class="sm-form-control cmsspaccing assign_user js-select2 required"
                        multiple="multiple"
                      >
                        <option
                          *ngFor="
                            let assignUser of dispDetails.assign_user_dropdown
                          "
                          value="{{ assignUser.id }}"
                          [selected]="
                            checkAssignUserSelectStatus(assignUser.id) == 'yes'
                          "
                        >
                          {{ assignUser.name }}
                        </option>
                      </select>
                      <small
                        >*Contributors are employees you authorize to manage the
                        this Store Profile listing. A Contributor will only see
                        Store Profiles in their account that you assign to
                        them.</small
                      >
                      <a
                        routerLink="/members/business/contributors"
                        *ngIf="this.globals.id_cms_privileges == 6"
                        target="_blank"
                      >
                        Manage Contributers</a
                      >
                      <a
                        routerLink="javascript:void(0)"
                        *ngIf="this.globals.id_cms_privileges != 6"
                        (click)="onManageContributers()"
                      >
                        Manage Contributers</a
                      >
                    </div>
                    <!-- <input type = "text" id="assign_user" name="assign_user" class="sm-form-control assign_user required" placeholder="" ngModel> -->
                  </div>
                  <div class="form-group whitebgs row">
                    <!-- <div class="storetopcms"></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality storelabel"
                        >Store Meta</label
                      >
                    </div>
                    <div class="col-md-10">
                      <select
                        class="js-select2 sm-form-control cmsspaccing"
                        name="store_meta"
                        multiple="multiple"
                      >
                        <option
                          *ngFor="
                            let storeMeta of dispDetails.store_meta_dropdown
                          "
                          value="{{ storeMeta.id }}"
                          [selected]="
                            checkStoreMetaSelectStatus(storeMeta.id) == 'yes'
                          "
                        >
                          {{ storeMeta.title }}
                        </option>
                      </select>
                    </div>
                    <!-- <input type = "text" id="assign_user" name="assign_user" class="sm-form-control assign_user required" placeholder="" ngModel> -->
                  </div>
                  
                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="paid-for-quality">About Store</label>
                    </div>
                    <div class="col-md-10">
                      <textarea 
                        id="description"
                        name="description"
                        class="sm-form-control description required"
                        value="{{ dispDetails.description }}"
                        placeholder=""
                        ngModel
                      >{{ dispDetails.description }}</textarea>
                      <small>*Tell your customers and future customers about your store or dispensary. This is not only an expectation by customers but great for Google and SEO. We recommend 400 characters or more.</small>
                    </div>
                  </div>

                  <div class="form-group whitebgs row">
                    <!-- <div class=""></div> -->
                    <div class="col-md-2">
                      <label for="store_images ">Store Images</label>
                    </div>
                    <div class="col-md-10">
                      <label for="store_images" class="custom-file-upload"
                        ><i class="fa fa-cloud" aria-hidden="true"></i> Custom
                        Images Upload</label
                      >
                      <small>*Storefronts with photos get more visitors and customer visits. Upload unlimited photos to your profile to showcase your storefront, inside layout and team members.</small><br>
                      <small
                        >*You can add multiple photos at one time by pressing
                        'cntrl' and selecting the photos</small
                      >
                    </div>
                    <input
                      type="file"
                      id="store_images"
                      class="fileInput col-md-2"
                      name="store_images"
                      (change)="this.onStoreImagesUpload($event)"
                      multiple
                    />
                    <!-- <input  class="form-control" type="file" id="formFile"> -->
                    <div class="image-container mt-3 col-md-12">
                      <div
                        class="image-area"
                        *ngFor="let storeImage of store_images"
                      >
                        <img
                          src="{{ storeImage.link }}"
                          width="100"
                          height="100"
                          alt=""
                        /><a
                          class="remove-image"
                          href="javascript:void(0)"
                          data-name="{{ storeImage.name }}"
                          style="display: inline"
                          >x</a
                        >
                        <label class="toggle">
                          <div class="togglebox">
                            <input
                              type="radio"
                              name="is_thumbnail"
                              value="{{ storeImage.name }}"
                              class="form-control isThumbnail"
                              [checked]="
                                storeImage.name ==
                                dispDetails.store_thumbnail_image
                              "
                            />
                            <div class="slide-toggle"></div>
                            <div class="slide-toggle-content text-sm">
                              Thumbnail
                            </div>
                          </div>
                        </label>
                      </div>
                    </div>
                    <!--  -->
                  </div>
                  <label class="ohnohoney" for="store_captcha_name"></label>
                  <input
                    autocomplete="off"
                    class="ohnohoney honeyInputStore"
                    id="store_captcha_name"
                    name="store_captcha_name"
                    placeholder="Your name here"
                    type="text"
                  />
                  <label class="ohnohoney" for="store_captcha_email"></label>
                  <input
                    autocomplete="off"
                    class="ohnohoney honeyInputStore"
                    id="store_captcha_email"
                    name="store_captcha_email"
                    placeholder="Your e-mail here"
                    type="email"
                  />
                </div>
                <div class="modal-footer w-100">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a href="#"
                    ><button
                      type="button"
                      class="btn btn-link"
                      data-dismiss="modal"
                    >
                      Cancel
                    </button></a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Manage price Section End -->
  </div>

  <div
    class="modal fade"
    id="store_status_change"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog">
      <div class="modal-body">
        <form
          #submitStore="ngForm"
          (ngSubmit)="onSubmitStore(submitStore.value)"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Change Status</h4>
              <!-- <button type="button" class="btn btn-close" data-dismiss="modal">Close</button> -->
              <input
                type="hidden"
                id="id"
                name="id"
                class="sm-form-control"
                placeholder=""
                ngModel
              />
            </div>
            <div class="modal-body">
              <div class="form-group whitebgs">
                <div class=""></div>
                <label for="paid-for-quality">Status</label>
                <div>
                  <input
                    id="status_1"
                    class="radio-style"
                    name="status"
                    type="radio"
                    value="1"
                    required
                    *ngIf=""
                  />
                  <label for="status_1" class="radio-style-2-label"
                    >Active</label
                  >
                  <input
                    id="status_0"
                    class="radio-style"
                    name="status"
                    type="radio"
                    value="0"
                    required
                  />
                  <label for="status_0" class="radio-style-2-label"
                    >Suspend</label
                  >
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-link" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    jQuery(document).ready(function () {
      setTimeout(
        jQuery(".js-select2").select2({
          closeOnSelect: false,
          placeholder: "Placeholder",
          allowHtml: true,
          allowClear: true,
          tags: true, // создает новые опции на лету
        }),
        3000
      );
    });
  </script>
</div>
