.stores td.status img{width: auto;max-height: 50px;}
.stores td,.stores th{text-align: center;}
.table.table.table-striped.stores td.contantsection {text-align: left;}
.table.table.table-striped.stores td.contantsection span {text-align: left;}
tr td:nth-child(9){width: 10%;}
tr td:nth-child(9) a{padding: 5px;font-size: 17px;}

.table.table.table-striped.stores td.contantsection {
    text-align: left;
}
.table.table.table-striped.stores td.contantsection span {
    text-align: left;
}

th.topspaccing {
    padding-top: 0px;
    padding-bottom: 20px;
}
th.trtopspaccings {
    padding-bottom: 0px;
}
button.btn.btn-primary.save-btn {
    height: 46px;
    width: 110px;
    padding: 0px 15px;
    line-height: normal;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    letter-spacing: 1px;
    background: #0088cc;
}
.text-danger {
    color: #dc3545 !important;
    padding: 2px;
}
@media (min-width: 1400px) { 
    td.imgsection a img {
        max-width: 50%;
       
        }
 }
