.stores td.status img{width: auto;max-height: 50px;}
.stores td,.stores th{text-align: center;}




.table.table.table-striped.stores td.contantsection {
    text-align: justify ;
}
.table.table.table-striped.stores td.contantsection span {
    text-align: left;
}

th.topspaccing {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
}
@media (min-width: 1200px) { 
    td.imgsection a img {
        max-width: 50%;
       
        }
 }
