<div class="dashboard-subnav">
   <div class="container clearfix">
      <div class="row clearfix">
         <ul class="dash-subnav">
            <li class="profile">
               <a routerLink="/members/profile">
                  <span class="icon-wrap"></span>
                  <span class="menu-text">
                     <span class="menu">Profile</span> 
                     <span>Personalize your experience</span>
                  </span>
               </a>
            </li>
            <li class="your-reviews">
               <a routerLink="/members/reviews">
                  <span class="icon-wrap"><img src="assets/images/your-reviews.png" alt="Your Reviews"></span>
                  <span class="menu-text">
                     <span class="menu">Your Reviews</span>
                     <span>Share your experiences</span>
                  </span>
               </a>
            </li>
            <li class="account">
               <a routerLink="/members/account">
                  <span class="icon-wrap"><img src="assets/images/account-icon.png" alt="Account"></span>
                  <span class="menu-text">
                     <span class="menu">Account</span>
                     <span>Change password + settings</span>
                  </span>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>