<div class="white-box">
<div class="white-box-title"><h3>Share the love and earn <i class="icon-angle-right"></i></h3></div>
<div class="white-box-content">
   <p *ngIf="this.user_data['referral_id']">Personal link: </p>
   <p><a style="word-wrap: break-word;" href="{{referral_url}}">{{referral_url}}</a></p>
   <p>
      <span class="link"><a href="https://www.facebook.com/" target="_blank"><img src="assets/images/share-fb.png" alt=""></a></span>

     
      <span class="link mt-2"><a href="https://twitter.com/" target="_blank"><img src="assets/images/follow-tweet.png" alt=""></a></span>
   </p>
   <p>Share your POW experience with friends and followers by using your personal link. Anyone who visits thru your link earns you POW rewards.</p>
</div>
</div>