<div id="wrapper" class="clearfix">
		
	<!-- Header
	============================================= -->
	<mio-header></mio-header>
		<!-- #header end -->
	
	<router-outlet></router-outlet>
	
	<!-- Footer
	============================================= -->
	<footer id="footer" class="dark">
    	<mio-footer></mio-footer>
	</footer><!-- #footer end -->

</div><!-- #wrapper end -->
<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>