<div class="content-wrap">
	<div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url('assets/images/background-tableleaf.jpg') center center no-repeat; background-size: cover;"></div>
	<div class="section nobg full-screen nopadding nomargin">
		<div class="container-fluid vertical-middle divcenter clearfix">
			<div class="card divcenter noradius noborder" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
				<div class="card-body" style="padding: 40px;">
					<mio-user-login></mio-user-login>
				</div>
			</div>
		</div>
	</div>
</div>