<div class="content-wrap nopadding">
	<div class="container clearfix">
		<h1 class="page-title-heading">Compare thousands of marijuana strains and brands in one place. The easiest way to find and compare cannabis before you buy.</h1>
    </div>
    <div class="section nobottommargin converter-box">
        <div class="container-fullwidth clearfix nopadding nomargin">          
            <div class="tabs clearfix" id="tab-3">
                <div class="tabs-nav-wrap">
                    <div class="container">
                        <ul class="tab-nav tab-nav2 clearfix">
                            <li><a href="#tabs-9"><i class="refresh-icon"></i> Cannabis Converter</a></li>
                            <li class="last-item"><a href="#tabs-10"><i class="bell-icon"></i> Cannabis Price Alerts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-container">
                    <span id="#tabs-9" class="mob-tabs tabs-9 active"><span><i class="refresh-icon"></i> Cannabis Converter <i class="fas fa-angle-right"></i></span></span>
                    <div class="tab-content clearfix" id="tabs-9">
                        <div class="container">
                            <h2 class="converter-box-heading">Get real-time local market prices on marijuana strains, and compare the best deals nearby.</h2>
                            <mio-converter-box></mio-converter-box>
                        </div>
                    </div>
                    <span id="#tabs-10" class="mob-tabs tabs-10"><span><i class="bell-icon"></i> Cannabis Price Alerts <i class="fas fa-angle-right"></i></span></span>
                    <div class="tab-content clearfix" id="tabs-10">
                        <div class="container">
                            <h2 class="converter-box-heading" style="color: #FFF;">Get notified in real-time when marijuana prices change in your neighbourhood.</h2>
                            <mio-price-alert></mio-price-alert>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
        
    <mio-top-strains></mio-top-strains>                 
        
</div>